@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
/* @import '@skeletonlabs/skeleton/themes/cerberus'; */
@import '../nmbtheme';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
@custom-variant dark (&:where(.dark, .dark *));

p {
	margin-top: 15px;
}

.anchor {
	color: black;
}

/* Animations */
@keyframes ping-twice {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	10% {
		transform: scale(2);
		opacity: 0;
	}
	14% {
		transform: scale(1);
		opacity: 0;
	}
	15% {
		transform: scale(1);
		opacity: 1;
	}
	25% {
		transform: scale(2);
		opacity: 0;
	}
	30% {
		opacity: 0;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

@layer utilities {
	.animate-ping {
		animation: ping-twice 6s cubic-bezier(0, 0, 0.2, 1) infinite;
	}
}

@layer base {
	@font-face {
		font-family: 'PTSansRegular';
		src: url('/fonts/PTSans-Regular.ttf') format('truetype');
		font-style: normal;
		font-weight: normal;
		font-display: swap;
	}
}
